
body {
    background-color: rgb(143, 110, 88); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#video {
    height: 50%;
    width: 25%;
}

#INFO {
    height: 40%;
}

#pic {
    width: 20%;
    height: 20%;

}

#button1 {
    height: 10%;
    Width: 10%;
}