
body {
    background-color: rgb(73, 68, 68)(255, 0, 200); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#video {
    height: 50%;
}

#INFO {
    height: 40%;
}

#pic {
    width:20%;
    height:20%;

}